In [14]:
import pandas as pd

## csv

In [16]:
# ',' yerine ';' ile ayrilan kelimelerin bulundugu CSV dosyalarini d√ºzeltir
df = pd.read_csv('ornekcsv.csv',sep= ';')
df

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

## txt

In [17]:
df1 = pd.read_csv('duz_metin.txt')
df1

    1 2
0   2 2
1   3 2
2   4 2
3   5 2
4   6 2
5  7 2
6   8 2
7   9 2
8  10 2

In [18]:
type(df1)

pandas.core.frame.DataFrame